<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Rubik:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body style="background-image:url('~/images/img_2.jpg')">
    <header role="banner">

        <div class="navbar navbar-expand-md navbar-fixed-top navbar-inverse navbar-dark bg-light" >
            <div class="container" style="background-color:antiquewhite">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Product", "Index", "Products")</li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                            if (User.IsInRole("Admin"))
                            {

                                <li>@Html.ActionLink("Roles", "Index", "AspNetRoles")</li>
                                <li>@Html.ActionLink("User Role", "Index", "AspNetUserRoles")</li>


                            }
                        }

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        </header>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
